* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(176, 229, 250);
  text-align: center;
  flex-direction: column;
  align-items: center;
}
section h1 {
  text-shadow: 2px 5px 5px #2f3542;
  word-spacing: 10px;
  margin: 20px auto;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}
.center {
  width: 60%;
  height: 450px;
  box-shadow: 2px 2px 2px 5px white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #555;
}
.details {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.details label {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: white;
}
.details input {
  padding: 10px;
  background-color: #ff6b81;
  color: white;
  margin-bottom: 20px;
  outline: none;
}
.details input[type="text"]:focus {
  border: 3px solid #555;
}
.imagediv {
  margin: 20px 0;
}
button {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  border-radius: 3px;
  color: white;
  font-size: 1.2rem;
  background-origin: darken(#f1c40f, 20%);
  outline: none;
}
button:hover {
  cursor: pointer;
}
.btngrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media all and (max-width: 500px) {
  .btngrp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gen{
    margin-bottom: 5px;
  }
}
.gen {
  margin-right: 10px;
}
.download {
  margin-left: 10px;
}
